<div class="container" id="container"><div class="page article js_show">
    <div class="page__hd">
        <h1 class="page__title">何时需要重构</h1>
        <p class="page__desc">现在也可以，最好是昨天</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <h1>什么是重构</h1>
            <section>
                <h2 class="title"></h2>
                <section>
                    <h3></h3>
                    <p>
                    </p>
                </section>
                <section>
                  <h3></h3>
                </section>
            </section>
        </article>
    </div>
    <div class="page__ft" style='display:none'>
        <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
    </div>
</div></div>
