<div class="container" id="container"><div class="page article js_show">
    <div class="page__hd">
        <h1 class="page__title">通天塔如何建成</h1>
        <p class="page__desc">构建卓越系统之必经之路－持续重构</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <h1>大标题</h1>
            <section>
                <h2 class="title">章标题</h2>
                <section>
                    <h3>1.1 节标题</h3>
                    <p>
                      ##文无第一，武无第二的框架之争（职责分离，模块性；可测试性）以不变应万变。欲以究天人之际，通古今之变，成一家之言。
                      ##重构实践 业务逻辑与技术实现之分离 从业务中学习 在业务中实践
                    </p>
                    <p>
                        <img src="./images/pic_article.png" alt="">
                        <img src="./images/pic_article.png" alt="">
                    </p>
                </section>
                <section>
                    <h3>1.2 节标题</h3>
                    <p>
                    </p>
                </section>
            </section>
        </article>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
    </div>
</div></div>
