<div class="container" id="container"><div class="page article js_show">
    <div class="page__hd">
        <h1 class="page__title">重构实例</h1>
        <p class="page__desc">记一次复杂系统的重构实践</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <h1>绝知此事要躬行</h1>
            <section>
                <h2 class="title">系统背景</h2>
                <section>
                    <h3>业务背景</h3>
                    <p>
                    </p>
                    <p>
                        <img src="./images/pic_article.png" alt="">
                        <img src="./images/pic_article.png" alt="">
                    </p>
                </section>
                <section>
                    <h3>技术背景</h3>
                    <p>
                    </p>
                </section>
            </section>
            <section>
                <h2 class="title">2 初步的技术选型</h2>
                <section>
                    <h3>2.1 前后端分离</h3>
                    <p>
                    </p>
                    <p>
                        <img src="./images/pic_article.png" alt="">
                        <img src="./images/pic_article.png" alt="">
                    </p>
                </section>
                <section>
                    <h3>2.2 前端框架选择</h3>
                    <p>
                    </p>
                </section>
            </section>
        </article>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
    </div>
</div></div>
