<div class="container" id="container"><div class="page article js_show">
    <div class="page__hd">
        <h1 class="page__title">Article</h1>
        <p class="page__desc">文章</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <h1>大标题</h1>
            <section>
                <h2 class="title">章标题</h2>
                <section>
                    <h3>1.1 节标题</h3>
                    <p>
                      ##文无第一，武无第二的框架之争（职责分离，模块性；可测试性）以不变应万变。欲以究天人之际，通古今之变，成一家之言。
                      ##重构实践 业务逻辑与技术实现之分离 从业务中学习 在业务中实践
                      （职责分离，模块性；可测试性）以不变应万变。欲以究天人之际，通古今之变，成一家之言。
##重构实践 业务逻辑与技术实现之分离 从业务中学习 在业务中实践



佛是自性作 莫向身外求。

              不要重复自己和他人。没重复一次，就会增加一份维护成本。
              用尽可能少的代码去实现意图，每一行代码都需要后续的维护.

                如何进行重构，
                先入为主的思想不能有，标准必须足够客观
                    </p>
                    <p>
                        <img src="./images/pic_article.png" alt="">
                        <img src="./images/pic_article.png" alt="">
                    </p>
                </section>
                <section>
                    <h3>1.2 节标题</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </section>
            </section>
        </article>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
    </div>
</div></div>
